* {
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    max-width: 600px;
    margin: auto;
}

.chat-bubble {
    position: relative;
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #f1f0f0;
    color: #000;
}

.chat-bubble.left {
    align-self: flex-start;
    background-color: #e0e0e0;
    border-radius: 0px 15px 15px 15px;
}

.chat-bubble.right {
    align-self: flex-end;
    background-color: #0084ff;
    color: #fff;
    border-radius: 15px 0px 15px 15px;
}

.chat-bubble.left::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0;
    height: 0;
}

.chat-bubble.right::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
}
